.confirmation {
  color: green;
  background-color: #f0fff0;
    border: 1px solid green;   
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}

.errorMessage {
  color: red;
  background-color: #ffd5d5;
    border: 1px solid red;   
    border-radius: 5px;
    padding: 10px;
    margin: 10px;
    font-size: 1.2em;
}