.notification {
    background: #f5f5f5;
    border-radius: 2px;
    margin-bottom: 10px;
    padding: 8px;
}

.notification-success {
  background-color: rgb(0, 255, 0);
}

.notification-error {
  background-color: rgb(255, 0, 0);
}